.card.tweet-element
    .d-flex.justify-content-end.align-items-center.m-3
        .d-flex.flex-row.flex-fill
            img(src=comment.author.image, alt="Image de profil" class="avatar-md mx-2")
            .d-flex.flex-column
                a(href=`/user/${comment.author.username}`) 
                    p @#{comment.author.username}
                small= moment(comment.createdAt).lang('fr').fromNow()
    .card-body=comment.content