mixin profile(user, editable= true)
    .profile 
        .profile-image 
            if editable
                form(
                    id="form-container"
                    action="/user/update/image"
                    method="post"
                    enctype="multipart/form-data"
                ) 
                    input#input-avatar(type="file", name="image" style="display:none")
                    img(src=user.image, alt="" class= "avatar-lg" id="profile-image")
            else 
                img(src=user.image, alt="" class="avatar-lg" style="cursor: default")
        p.profile-username 
            small @#{user.username}
        p.profile-fullname 
            strong Firstname Lastname 
        .follow-data 
            .data.follow-data-posts 
                p Posts 
                p= tweets.filter(tweet => tweet.author._id.toString() === user._id.toString()).length
            .data.follow-data.followers 
                p Followers 
                p= user.followers.length
            .data.follow-data-following     
                p Following 
                p= user.followings.length